<!DOCTYPE html>
<html lang="en-US">  
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>
    {{ block "title" . }}
      {{ .Site.Title }}
    {{ end }}
  </title>

  {{ $css := resources.Get "css/index.css" }}
  {{ $style := $css | resources.PostCSS }}

  {{ if .Site.IsServer }}
  <link rel="stylesheet" href="{{ $style.RelPermalink }}">
  {{ else }}
  {{ $style := $style | minify | fingerprint | resources.PostProcess }}
  <link rel="stylesheet" href="{{ $style.Permalink }}" integrity="{{ $style.Data.Integrity }}">
  {{ end }}

  </head>
  <body class="text-black bg-white dark:bg-slate-800 dark:text-slate-50">
    <header class="p-6 space-x-4">
      <a class="flex items-center" href="/">
        <img class="rounded-full h-8 w-8" src="/img/logo.png" alt="primes logo">
        <h1 class="pl-2 text-3xl font-bold">primes</h1>
      </a>
    </header>
  
    <main>
    {{ block "main" . }}
      <!-- The part of the page that begins to differ between templates -->
    {{ end }}
    </main>

  </body>
</html>
