<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">  
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{if .IsPage}}{{ .Summary }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}{{ end }}">

  <link href="/index.xml" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}">
  <link href="/index.xml" rel="feed" type="application/rss+xml" title="{{ .Site.Title }}">
  <link rel="shortcut icon" type="image/png" href="/img/logo.png">

  <title>
    {{ block "title" . }}
      {{ .Site.Title }}
    {{ end }}
  </title>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap" rel="stylesheet">

  {{ if .OutputFormats.Get "RSS" }}
  {{ with .OutputFormats.Get "RSS" }}
    <link href="{{ .RelPermalink }}" rel="alternate" type="application/rss+xml" title="{{ $.Site.Title }}" />
    <link href="{{ .RelPermalink }}" rel="feed" type="application/rss+xml" title="{{ $.Site.Title }}" />
    {{ end }}
  {{ end }}

  {{- template "_internal/opengraph.html" . -}}
  {{- template "_internal/schema.html" . -}}
  {{- template "_internal/twitter_cards.html" . -}}

  {{ $css := resources.Get "css/index.css" }}
  {{ $style := $css | resources.PostCSS }}

  {{ if .Site.IsServer }}
  <link rel="stylesheet" href="{{ $style.RelPermalink }}">
  {{ else }}
  {{ $style := $style | minify | fingerprint | resources.PostProcess }}
  <link rel="stylesheet" href="{{ $style.Permalink }}" integrity="{{ $style.Data.Integrity }}">
  {{ end }}

  </head>
  <body class="text-black bg-white dark:bg-slate-800 dark:text-slate-50 m-8">
    <header class="mb-8">
      <a class="flex items-center" href="/">
        <img class="rounded-full h-8 w-8" src="/img/logo.png" alt="primes logo">
        <h1 class="pl-2 text-3xl font-bold">primes</h1>
      </a>
    </header>
  
    <main>
    {{ block "main" . }}
      <!-- The part of the page that begins to differ between templates -->
    {{ end }}
    </main>

    <footer class="pt-8 md:pt-16">
      {{ partial "footer.html" . }}
    </footer>
  </body>
</html>
