{{ define "main" }}
  {{ $paginator := (.Paginate .Pages.ByDate) }}
  <article class="pl-2 pr-2 pt-8 md:pt-16 md:pl-16 md:pr-16 lg:pl-24 lg:pr-24">
    <section>
      <ul class="prime-list">
        {{- with $paginator.Prev }}
        <li class="inline page-link"><a href="{{ .URL }}" aria-label="Previous" role="button"><span aria-hidden="true">&hellip;</span></a></li>
        {{- end}}
        {{ range $paginator.Pages }}
        <li class="inline">{{- chomp (partial "prime-link.html" .) -}}</li>
        {{ end }}
        {{- with $paginator.Next }}
        <li class="inline page-link"><a href="{{ .URL }}" aria-label="Next" role="button"><span aria-hidden="true">&hellip;</span></a></li>
        {{- end}}
      </ul>
    </section>
    <section>
      {{- .Content -}}
    </section>
    <footer class="mt-4">
      <nav>
        {{ partial "pagination" . }}
      </nav>
    </footer>
  </article>
  {{ end }}
