{{- if gt .Paginator.TotalPages 1 }}
  {{- with .Paginator }}
  <ul class="flex items-center gap-2">
    {{- with .Prev }}
    <li>
      <a href="{{ .URL }}" aria-label="Previous" role="button"><span aria-hidden="true">&laquo;</span></a>
    </li>
    {{- else }}
    <li class="disabled">
      <a aria-disabled="true" aria-label="Previous" role="button" tabindex="-1"><span aria-hidden="true">&laquo;</span></a>
    </li>
    {{- end }}

    {{- with .Next }}
    <li>
      <a href="{{ .URL }}" aria-label="Next" role="button"><span aria-hidden="true">&raquo;</span></a>
    </li>
    {{- else }}
    <li>
      <a aria-disabled="true" aria-label="Next" role="button" tabindex="-1"><span aria-hidden="true">&raquo;</span></a>
    </li>
    {{- end }}
    <li class="text-sm">Page {{ .PageNumber }} of {{ .TotalPages }}</li>
  </ul>
  {{- end }}
{{- end }}
