name: primebot

on:
  schedule:
    - cron: "55 * * * *"
  workflow_dispatch:
  pull_request:

jobs:
  generate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          token: ${{ secrets.PAT }}

      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: "1.20"

      - name: Build
        working-directory: ./bot
        run: go install -v ./...

      - name: Next Prime
        run: bot

      - name: Commit
        if: ${{ github.ref == 'refs/heads/main' }}
        uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_author: primenumberbot <bot@primes.today>
